.banner {
  width: 100%;
  min-height: 470px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-radius: 0;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  margin: 0;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  box-sizing: border-box;
}

.bannerBg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: var(--banner-bg-image, url("/img/banners/banner_performance.png"));
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.frame {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-left: 0;
  margin-right: 98px;
}

.frameBox {
  width: 661px;
  height: 246px;
}

.frameContent {
  position: relative;
  height: 246px;
  border-radius: 0;
  overflow: hidden;
}

.bottomLine {
  position: absolute;
  top: 189px;
  left: 104px;
  font-family: "Teko", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: normal;
}

.rightHeading {
  position: absolute;
  width: 410px;
  top: 85px;
  left: 226px;
  font-family: "Teko", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.topLine {
  position: absolute;
  top: 34px;
  left: 130px;
  font-family: "Teko", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: normal;
}

.leftBox {
  position: absolute;
  width: 171px;
  height: 77px;
  top: 89px;
  left: 7px;
  background: #1e2d1e;
}

.leftHeading {
  position: absolute;
  width: 132px;
  top: -1px;
  left: 20px;
  font-family: "Teko", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}
